<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_panel_base}">
<div layout:fragment="page_content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Request A Product</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Through a URL
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" class="form-horizontal group-border hover-stripped" action="#" th:object="${userRequest}"
                                      th:action="@{/requestProduct/add}" th:method="POST" modelAttribute="add" commandName="add">
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Product URL</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input class="form-control" th:field="*{productUrl}" id="urlSource" placeholder="Product URL"/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('productUrl')}" th:errors="*{productUrl}"></span>
                                    </div>
                                    <!--<div class="form-group required" id="urlLoad" >-->
                                        <!--<div class="col-lg-5 col-md-5 ui-sortable">-->
                                            <!--<iframe id="urlDisplay" th:src="${productUrl}">-->

                                            <!--</iframe>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Quantity</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input th:field="*{quantity}" type="number"
                                                   class="form-control" placeholder="Quantity"/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Comments</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <textarea th:field="*{comments}" type="text"
                                                      class="form-control" placeholder="Comments Here"></textarea>
                                        </div>
                                        <span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                                        <div class="col-lg-2 col-md-2 ui-sortable">
                                            <input type="submit" class="form-control btn btn-primary btn" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>
<script th:inline="javascript">

    $("#urlSource").bind("change paste keyup", function() {
        alert($(this).val());
    });

</script>
<style>
    td{
        color: red;
    }
</style>
</HTML>