<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home_page_base}">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/register.js}"></script>-->
</head>

<div layout:fragment="page_content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Register</h3>
                </div>
                <div class="panel-body">
                    <div th:if="${error != null}">
                        <div class="alert alert-danger">
                            <strong th:text="${error}"></strong>
                        </div>
                    </div>

<!--                    <div id="app">-->
<!--                        {{ message }}-->
<!--                        <button v-on:click ="reverseMessage">Reverse Message</button>-->
<!--                        <input v-model="message">-->
<!--                    </div>-->
<!--                    <div id="app1">-->
<!--                        <span v-if="seen">Now You See Me</span>-->
<!--                    </div>-->
<!--                    <div id="app2">-->
<!--                        <ol>-->
<!--                            <li v-for="todo in todos">-->
<!--                                {{todo.text}}-->
<!--                            </li>-->
<!--                        </ol>-->

<!--                    </div>-->
                    <form class="form-group" th:action="@{/register}" id="register" th:method="post" modelAttribute="register" commandName="register">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" name="username"
                                       placeholder="UserName" type="text" maxlength="30" required="required" autocomplete="off"
                                       autofocus="autofocus">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="phone"
                                       placeholder="Phone" type="text" maxlength="11" required="required" autocomplete="off"
                                       autofocus="autofocus">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email"
                                       placeholder="Email Address" type="text" maxlength="30" required="required" autocomplete="off"
                                       autofocus="autofocus">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                       required="required" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" name="password_confirmation" type="password"
                                       required="required" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6"><input  type="submit" value="Register" class="btn btn-success btn-block"/></div>
                                <div class="col-xs-12 col-md-6"><a th:href="@{/login}" class="btn btn-primary btn-block">Login</a></div>
                            </div>
                        </fieldset>
                    </form>
                    <script type="text/javascript" th:src="@{/js/register.js}"></script>
                </div>

            </div>
        </div>
    </div>
</div>