<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin_panel_base}">

<div layout:fragment="page_content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic Form Elements
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="#" role="form" class="form-horizontal group-border hover-stripped"
                                      th:object="${productDetails}"
                                      th:action="@{/productDetails/updateCheckedProduct}" method="POST">

                                    <input type="hidden" class="form-control" th:value="${productDetails.id}"
                                           name="id"/>
                                    <input type="hidden" class="form-control"
                                           th:value="${productDetails.userRequest.id}" name="userRequest.id"/>
                                    <input type="hidden" class="form-control" th:value="${productDetails.user.id}"
                                           name="user.id"/>

                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Prodct Url</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input class="form-control" type="text" th:field="*{url}"/>
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('url')}"
                                              th:errors="*{url}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Prodct Category</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <select class="form-control" th:field="*{category.id}">
                                                <option value="">--- Select ---</option>
                                                <option th:each="category : ${productCategory}"
                                                        th:value="${category.id}" th:text="${category.name}"
                                                        th:selected="${category.id == productDetails.category.id}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Description</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                           <textarea type="text" th:field="*{productDescription}"
                                                     class="form-control" placeholder="Product Description"></textarea>
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('productDescription')}"
                                              th:errors="*{productDescription}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Unit Price</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input th:field="*{unitPrice}"
                                                   class="form-control" placeholder="Price"/>
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('unitPrice')}"
                                              th:errors="*{unitPrice}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Delivery Fee</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input th:field="*{deliveryFee}"
                                                   class="form-control" placeholder="Delivery Fee"/>
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('deliveryFee')}"
                                              th:errors="*{deliveryFee}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Status</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <select class="form-control" th:field="*{status}">
                                                <option value="">--- Select ---</option>
                                                <option th:each="statusEnum : ${T(com.tp365.shobardokan.model.enums.Status).values()}"
                                                        th:value="${statusEnum}" th:text="${statusEnum}"
                                                        th:selected="${statusEnum == productDetails.status}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Cost Price</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input th:field="*{costPrice}" type="number" class="form-control"
                                                   placeholder="Cost Price"/>
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('costPrice')}"
                                              th:errors="*{costPrice}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Price Valid Till
                                            Date</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input type="date" th:field="*{priceValidTill}"
                                                   th:value="${#dates.format(priceValidTill, 'yyyy-MM-dd')}"
                                                   class="form-control" placeholder="Format: yyyy-mm-dd">
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('priceValidTill')}"
                                              th:errors="*{priceValidTill}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Estimated Delivery
                                            Date</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <input type="date" th:field="*{estimatedDeliveryDate}"
                                                   th:value="${#dates.format(estimatedDeliveryDate, 'yyyy-MM-dd')}"
                                                   class="form-control" placeholder="Format: yyyy-mm-dd">
                                        </div>
                                        <span class="error" th:if="${#fields.hasErrors('estimatedDeliveryDate')}"
                                              th:errors="*{estimatedDeliveryDate}"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">Comments</label>
                                        <div class="col-lg-5 col-md-5 ui-sortable">
                                            <textarea th:field="*{comments}" type="text"
                                                      class="form-control" placeholder="Comments"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                                        <div class="col-lg-2 col-md-2 ui-sortable">
                                            <input type="submit" class="form-control btn btn-primary btn"
                                                   value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <script>
        $(document).ready(function () {
            $("#startDate").datetimepicker({
                viewMode: 'months'
            });
        });


        //        $(function () {
        //            alert("test");
        //        });
        //        $(document).ready(function () {
        //            $("#dtp").datetimepicker({
        //                format: "yyyy-mm-dd",
        //                autoclose: true,
        //                todayBtn: true,
        //                minView: 2
        //            });
        //        });
    </script>


</div>